body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

/* CABEÇALHO */
h1 {
  text-align: center;
  width: 100%;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  color: #212529;
}
header {
  width: 1554px;
  margin: 0 auto;
}
nav {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.filtersContainer {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  height: 52px;
  margin-bottom: 44px;
}
.estiloGeralBotoes {
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  margin-left: 15px;
}
.estiloGeralBotoes {
  color: #12b886;
  background: rgba(18, 184, 134, 0.05);
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  border-radius: 8px;
  width: 177px;
  height: 52px;
}
.estiloGeralBotoes--botaoBuscaPorNome {
  width: 59px;
}
.estiloGeralBotoes:focus {
  color: #ffffff;
  background-color: #12b886;
}
.containerBuscaPorNome {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0px;
  left: 610px;
}
.campoBuscaPorNome {
  background-color: #f1f3f5;
  border-radius: 8px;
  padding: 0 10px;
  border: none;
  height: 52px;
  width: 250px;
}
.estiloGeralBotoes--botaoBuscaPorNome {
  background-color: #12b886;
  border: 1.5px solid #12b886;
  border-radius: 8px;
  margin-left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
}
/* CONTEÚDO */
.vitrine {
  display: flex;
  width: 97%;
}
main {
  width: 1171px;
  flex-wrap: wrap;
  margin: 0 auto;
}
main section {
  width: 1171px;
  display: flex;
  flex-wrap: wrap;
}
.containerListaProdutos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.containerListaProdutos ul li {
  color: black;
  font-weight: bold;
  margin: 10px;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.117);
  width: 272px;
  height: 339px;
}
.containerListaProdutos ol li {
  font-weight: 400;
  font-size: 12px;
  height: 10px;
  color: #868e96;
  margin-left: 15px;
}
.listCards:hover {
  box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}
.containerListaProdutos ul li img {
  width: 100%;
  height: 175px;
}
.containerListaProdutos ul li h3 {
  margin: 10px 0px 0px 10px;
  font-weight: 500;
  font-size: 16px;
}
.containerListaProdutos ul li p {
  margin: 10px 0 5px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: black;
}
.containerListaProdutos ul li span {
  margin: 10px 0 10px 10px;
  font-weight: 500;
  font-size: 12px;
  color: #868e96;
}
.btnAddCart {
  width: 71px;
  height: 29px;
  border: none;
  background: rgba(18, 184, 134, 0.05);
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  border-radius: 8px;
  font-size: 11px;
  text-align: center;
  color: #12b886;
  position: relative;
  top: -25px;
  left: 198px;
  cursor: pointer;
}
.btnAddCart:hover {
  color: #ffffff;
  background-color: #12b886;
}
/* ASIDE */
.carrinho {
  width: 292.09px;
  height: 268.25px;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.117);
  border-radius: 0px 0px 8px 8px;
  margin-top: 10px;
}
.carrinho section {
  width: 100%;
}
.titulo--card {
  background-color: #12b886;
  height: 56.29px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
.cart {
  overflow-y: scroll;
  width: 100%;
  max-height: 500px;
}
.cart::-webkit-scrollbar {
  width: 7px;
}
.cart::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 3px solid transparent;
}
.card--carrinho img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-left: 5px;
}
.card--carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 83px;
  margin: 0px 0px 15px 5px;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.117);
  border-radius: 8px;
}
.card--carrinho:hover {
  box-shadow: 3px 3px 13px 1px rgb(146 146 146);
  cursor: pointer;
}
.card--infos {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.card--infos h3 {
  font-weight: 500;
  font-size: 14px;
}
.card--infos p {
  font-weight: 500;
  font-size: 14px;
  color: #212529;
}
.card--infos span {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.titulo--card img {
  margin: 15px;
}
.titulo--card {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}
.cart--lixeira {
  cursor: pointer;
  width: 23.62px;
  height: 25px;
  background-color: transparent;
  border: none;
  position: relative;
  top: -26px;
  left: -4px;
  background-image: url(../img/lixo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.emptyTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #868e96;
  height: 60%;
  gap: 35px;
}
.textoCarrinhoVazio {
  text-align: center;
}
.remover {
  display: none;
}
/* PREÇO TOTAL */
.value--total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.value--total p {
  display: flex;
  justify-content: space-between;
  height: 59px;
  align-items: center;
  padding: 5px;
  font-weight: 500;
  color: black;
  font-size: 12px;
}
.container--quantidade {
  background-color: #f8f9fa;
}
