body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

/* CABEÇALHO */
h1 {
  text-align: center;
  width: 100%;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  color: #212529;
}
.filtersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  height: 52px;
  margin-bottom: 44px;
}
.estiloGeralBotoes {
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
  color: #12b886;
  background: rgba(18, 184, 134, 0.05);
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  border-radius: 8px;
  width: 177px;
  height: 52px;
}
.estiloGeralBotoes--filtrarHortifruti {
  background: rgba(18, 184, 134, 0.05);
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  border-radius: 8px;
  color: #12b886;
  width: 122px;
  height: 52px;
}
.estiloGeralBotoes--filtrarPanificadora {
  background: rgba(18, 184, 134, 0.05);
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  border-radius: 8px;
  color: #12b886;
  width: 155px;
  height: 52px;
}
.estiloGeralBotoes--filtrarLaticinios {
  background: rgba(18, 184, 134, 0.05);
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  border-radius: 8px;
  color: #12b886;
  width: 128px;
  height: 52px;
}

.estiloGeralBotoes--filtrarHortifruti:hover {
  color: #ffffff;
  background-color: #12b886;
}
.estiloGeralBotoes--filtrarPanificadora:hover {
  color: #ffffff;
  background-color: #12b886;
}
.estiloGeralBotoes--filtrarLaticinios:hover {
  color: #ffffff;
  background-color: #12b886;
}
.estiloGeralBotoes--mostrarTodos:hover {
  color: #ffffff;
  background-color: #12b886;
}
.containerBuscaPorNome {
  display: flex;
  justify-content: space-between;
}

.campoBuscaPorNome {
  background-color: #f1f3f5;
  border-radius: 8px;
  padding: 0 10px;
  border: none;
  height: 52px;
  width: 250px;
  margin-left: 160px;
}
.estiloGeralBotoes--botaoBuscaPorNome {
  background-color: #12b886;
  border: 1.5px solid #12b886;
  border-radius: 8px;
  margin-left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
}
/* CONTEÚDO */
main {
  width: 1171px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
main section {
  width: 1171px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.containerListaProdutos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.containerListaProdutos ul li {
  color: black;
  font-weight: bold;
  margin: 10px;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.117);
  width: 272px;
  height: 282px;
}

.containerListaProdutos ul li:hover {
  box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
  width: 100%;
  height: 175px;
}

.containerListaProdutos ul li h3 {
  margin: 10px 0 10px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

.containerListaProdutos ul li p {
  margin: 10px 0 10px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}
.containerListaProdutos ul li span {
  margin: 10px 0 10px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #868e96;
}

/* PREÇO TOTAL */
.containerPrecoTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 50px;
}
.containerPrecoTotal img {
  width: 20px;
  height: 20px;
}
.containerPrecoTotal p {
  margin: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 680px;
}

.containerPrecoTotal span {
  padding-top: 7px;
  background-color: #212529;
  border-radius: 4px;
  width: 82px;
  height: 34px;
  color: #ffffff;
}
